body {
  background-color: #eeeeee;
}

.contents{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  height: auto;
  margin: 0 190px;
}

.content{
  width: calc(100% / 4);
}

.item{
  margin: 20px 10px;
  box-shadow: 2px 2px 5px gray;
  border-radius: 10px;
}

.shop__image {
  width: 100%;
  border-radius: 10px 10px 0 0;
}

.shop__item {
  padding: 20px;
}

.shop__title {
  font-size: 30px;
  font-weight: bold;
}

.shop__tag {
  display: flex;
}

.shop__tag-item {
  padding-left: 5px;
}

.shop__btn {
  padding: 20px 0;
  display: flex;
  justify-content: space-between;
}

.shop__btn-submit {
  color: white;
  background-color: #3578FF;
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 5px;
}

.favorite__btn {
  border: none;
}

.favorite__btn-submit {
  width: 40px;
  height: 40px;
  margin-right: 0;
  border: none;
}