body {
  background-color: #eeeeee;
}

.search {
  background-color: white;
  width: 1300px;
  box-shadow: 5px 5px 5px gray;
  border-radius: 5px;
}

ul {
  list-style: none;
  display: flex;
  padding-right: 40px;
  background-color: white;
}

.area__search {
  margin-left: -30px;
}

.create-form__item-select, .shop__search {
  border: none;
  font-weight: 100;
  font-size: 30px;
  padding: 0 50px 0 20px;
}

.create-form__item-select {
  width: 200px;
  border-right: 2px solid #eeeeee;
  appearance: none;
  background-image: url("../image/三角矢印のアイコン素材.svg");
  background-repeat: no-repeat;
  background-size: 20px auto;
  /* 画像のサイズ（幅 高さ）*/
  background-position: right 12px center;
    /* 画像の位置 */
}

.shop__search {
  width: 700px;
}

.shop__search-item {
  width: 150%;
}

.shop__search-img {
  width: 30px;
  height: 30px;
  padding: 0 0 10px 20px;
}

.contents{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  height: auto;
  margin: 0 190px;
}

.content{
  width: calc(100% / 4);
}

.item{
  margin: 20px 10px;
  box-shadow: 2px 2px 5px gray;
  border-radius: 10px;
}

.shop__image {
  width: 100%;
  border-radius: 10px 10px 0 0;
}

.shop__item {
  padding: 20px;
  border-radius: 10px;
  background-color: white;
}

.shop__title {
  font-size: 30px;
  font-weight: bold;
}

.shop__tag {
  display: flex;
}

.shop__tag-item {
  padding-left: 5px;
}

.shop__btn {
  padding: 20px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.shop__btn-submit {
  color: white;
  background-color: #305dff;
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 5px;
}

.favorite__btn {
  border: none;
}

.favorite__btn-submit {
  margin-right: 0;
  border: none;
  background-color: white;
  transition: background-color 0.3s ease;
}

.favorite__img {
  width: 60px;
  fill: #eeeeee;
}

.favorite__btn-submit.favorited {
  background-color: #ff0000;
  /* お気に入り中の色 */
}